In [4]:
import numpy as np
import pandas as pd

In [23]:
list1=[[1,2,3],[4,5,6],[7,8,9]]

In [24]:
list1 =list(list1)

In [25]:
type(list1)

list

In [26]:
df=pd.DataFrame(list1)

In [27]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9